*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: $font_color;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.menu{
    list-style-type: none;

    a{
        text-decoration: none;
        color: $font_color;
    }
}