// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: $font_color;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.container-lg{
    max-width: 95%;
    margin: 0 auto;
}

.padd-section{
    padding: 40px 0;
}

img{
    width: 100%;
}

// Menu
.menu{
    list-style-type: none;

    a{
        text-decoration: none;
        color: $font_color;
    }
}

// Buttons
button{
    border-radius: 5px;
    font-weight: 600;

    &.btn{
        padding: 5px 10px;
        background-color: $btn_color;
        color: #fff;
        border: 0;
        font-size: $size_medium_text;
        margin-bottom: 20px;
    }

    img{
        width: 15px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.small-text{
    font-size: $size_small_text;
    color: ligthen($font_color, 10%);
}

h3{
    font-size: $size_secondary_title;
    line-height: 30px;
    margin-bottom: 40px;
}

.text-center{
    text-align: center;
}

@media screen and (max-width: $breakpoint_small) {
    .container,
    .container-lg{
        max-width: 95%;
    }
}