nav{
    @include display_flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0  10px 0;
    border-bottom: 1px solid $font_color;

    .logo img{
        width: 120px;
    }

    .menu{
        @include display_flex;
        align-items: center;
        font-size: $size_medium_text;

        li{
            padding-left: 20px;
            font-weight: 600;

            .nav-btn{
                color: $btn_color;
                padding: 10px;
                border: 1px solid $btn_color;
            }
        }
    }

    .burger-toggle{
        display: none;
    }
}

@media screen and (max-width: $breakpoint_small) {
    nav{
        .menu{
            display: none;
        }

        .burger-toggle{
            display: block;
        }
    }
}